<div class="container-fluid" id="customWidgetList">
    <div class="row" style="margin-bottom:20px;">
        <div class="col-lg-1 col-lg-offset-11">
        </div>
    </div>
    <div data-drag="true"
         data-drop="true"
         data-jqyoui-options="{revert: 'invalid'}"
         ng-model="list1"
         jqyoui-draggable="{animate:true, stack: true, containment: position}"
         class='widget'
         >
        <div class="panel panel-default">
            <div class='panel-heading'>hello</div>
        </div>
    </div>
    <div data-drag="true"
         data-jqyoui-options="{revert: 'invalid'}"
         ng-model="list1"
         jqyoui-draggable="{animate:true}"
         class='widget'>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <hello1 data-drag='true' jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}"></hello1>
            </div>
        </div>
    </div>
    <div data-drag="true"
         data-jqyoui-options="{revert: 'invalid'}"
         ng-model="list1"
         jqyoui-draggable="{animate:true}"
         class='widget'>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <hello2></hello2>
            </div>
        </div>
    </div>
    <div data-drag="true"
         data-jqyoui-options="{revert: 'invalid'}"
         ng-model="list1"
         jqyoui-draggable="{animate:true}"
         class='widget'>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <hello3></hello3>
            </div>
        </div>
    </div>
    <div data-drag="true"
         data-jqyoui-options="{revert: 'invalid'}"
         ng-model="list1"
         jqyoui-draggable="{animate:true}"
         class='widget'>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <hello4></hello4>
            </div>
        </div>
    </div>
    <div data-drag="true"
         data-jqyoui-options="{revert: 'invalid'}"
         ng-model="list1"
         jqyoui-draggable="{animate:true}"
         class='widget'>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <hello5></hello5>
            </div>
        </div>
    </div>
</div>
